html{
    background-color: white;
}
body{
    margin: 0;
    padding: 0;
}
.topbar{
    background: #2E2E2E;
    overflow: auto;
    width: 100%;
    height: 65px;
}
.left{
    float: left;
}
.right{
    float: right;
    vertical-align: middle; 
    margin-right: 20px;
}
li{
    display: inline-flex;
}
.left li{
    border-right: 1px white solid;
}
.left li:last-child{
    border: none;
}
.left li a{
    width: fit-content;
    display: block;
    font-family: Georgia, MyriadPro-Regular ,AdobeInvisFont;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    font-size: 12px;
    padding: 5px;
    padding-top: 10px;        
}
.right li {
    background-color: #787878;
    border-radius: 50%;
}
.right li a{
    color: #fff;
    display: inline-block;
    text-align: center; 
    vertical-align: middle;
    height: 33px;
    width: 33px;
}
.right li a i{
     margin-top: 9px;
}
.right li a:hover{
    border-radius: 50%;
    background: #DB4A39;
}
.fa-wifi{
    transform: rotate(50deg);
}

.ghost{
     height: 1px; 
}
.hidden{
    display: none;
}

header{
    /* position: fixed; */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s; 
    padding: 0px 30px;
    z-index: 1000000;
    background-color: white;
    height: 65px;
}
.fixed {
    position: sticky; 
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
}
/* .sticky{
    padding: 0px 30px;
    background: #fff;
    position: sticky;   
    top: 0;
    opacity: 0.8;
} */
/* header.sticky{
    padding: 0px 30px;
    background: #fff;
    position: sticky;   
    top: 0;
    opacity: 0.8;
} */
header ul{
     position: relative;
     display: flex;
     justify-content: left;
     align-items: center;
     padding-bottom: 7px;
     padding-left: 20px;
     border-bottom: 3px solid #F1F1F1;
     width: 95%;
     left: 0;
}
header ul li{
    cursor: pointer;
    position: relative;
    list-style: none;
}
header ul li:first-child{
    margin-left: -60px;
}
header ul li:last-child{
    margin-right: 150px;
}
header ul li a{
    position: relative;
    margin: 0 40px;
    text-decoration: none;
    color: #2E2E2E;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.6s;
    text-transform: uppercase;
    font-family: Georgia,MyriadPro-Regular,AdobeInvisFont;
    font-size: 14px;
    text-align: left;
}
.banner{
    position: relative;
    width: 100%;
    height: 150vh;
    background-size: cover;
}
header.sticky.activePage ul li a{
    color: #9F9F9F;
}
header a::before{
    content: '';
    position: absolute;
    justify-content: left;
    left: 0;
    top: 100%;
    width: 0%;
    background: #fff;
    height: 3px;
    transition: all .5s linear;
    margin: 7px 0;
    border-radius: 20px;
}
.activePage{
    color: #9F9F9F;
}
header li a.activePage::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    background-color: #0099FF;
    left: 0;
    bottom: -7px;
    border-radius: 3px;
    color: #9F9F9F;
}
header a::after{
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    width: 0%;
    background: #fff;
    height: 3px;
    transition: all .5s linear;
    margin: 7px 0;
    border-radius: 10px;
    color: #9F9F9F;
}
header a:hover:before{
    width: 100%;
    background: #0099FF;
    color: #9F9F9F;
}
header a:hover:after{
    width: 100%;
    background: #0099FF;
    color: #9F9F9F;
}
.logo-searchbar{
    position: absolute;
    top: 130px;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    border-bottom: 2px solid #E9E9E9;
    background-color: white;
}
.logo-searchbar img{
    float: left;
    padding-left: 80px;
}
.logo-searchbar form{
    float: right;
    margin: auto;
    padding-left: 1100px;
}
.logo-searchbar form button{
    color: #FFFFFF;
    background-color: #0099FF;
    border-radius: 10px;
    height: 30px;
    border: none;
    font-family: Georgia,MyriadPro-Regular,AdobeInvisFont;
}
.logo-searchbar form input{
    height: 30px;
    font-family: Georgia,MyriadPro-Regular,AdobeInvisFont;
    border: none;
    color: #999999;
    background-color: #F1F1F1;
    border-radius: 5px;
}
 

/* SLIDESHOOW */
.slider{
    width: 100%;
    height: 370px;
    padding-top: 230px;
    border-bottom: 10px solid #E9E9E9;
    background-color: #F1F1F1;
    display: flex;
}
.slider .description{
    padding: 100px;
    width: 40%;
    float: left;
    font-family: Georgia,MyriadPro-Regular,AdobeInvisFont;
}
.slider .description h1{
    color: #333333;
}
.slider .description p{
    color: #666666;
}
.slider .description button{
    border-radius: 5px;
    height: 30px;
    color: white;
    background-color: #0099FF;
    border: none;
}
.slideshow-container {
    max-width: 900px;
    height: 322px;
    float: right;
    padding-top: 20px;
  }
  
  /* Hide the images by default */
  .mySlides {
    height: 100%;
    display: none;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
