@import 'https://fonts.googleapis.com/css?family=Poppins';
@import 'https://fonts.googleapis.com/css?family=Poppins:700&display=swap';
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: 0 0;
}

ol,
ul {
	list-style: none
}

:focus {
	outline: 0
}

.topbar{
    background: #2E2E2E;
    overflow: auto;
    width: 100%;
    height: 65px;
}
.left{
    float: left;
}
.right{
    float: right;
    margin-right: 20px;
}
li{
    display: inline-flex;
}
.left li{
    border-right: 1px white solid;
}
.left li:last-child{
    border: none;
}
.left li a{
    width: fit-content;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    font-size: 12px;
    padding: 5px;
    padding-top: 10px;
}
.right li {
    background-color: #787878;
    border-radius: 50%;
}
.right li a{
    color: #fff;
    display: inline-block;
    text-align: center; 
    vertical-align: middle;
    height: 33px;
    width: 33px;
}
.right li a i{
     margin-top: 9px;
}
.right li a:hover{
    border-radius: 50%;
    background: #DB4A39;
}
.fa-wifi{
    transform: rotate(50deg);
}

.clear {
	clear: both;
	line-height: 0;
	font-size: 0
}

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0
}

.clearfix:after .test {
	color: red
}

.clearfix {
	display: inline-block
}

* html .clearfix {
	height: 1%
}

.clearfix {
	display: block
}

header,
section,
article {
	display: block
}

body {
	font-size: 15px;
	background: #fff;
	font-family: poppins, sans-serif;
	line-height: 1.5;
	color: #6e8292;
	font-weight: 300
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	margin-bottom: 15px;
	color: #636363;
	margin-top: 0;
	line-height: 1.5;
	font-family: poppins, sans-serif
}

h1 span,h2 span,h3 span,h4 span,h5 span,h6 span {
	color: #1690c0
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 28px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 18px
}

h5 {
	font-size: 16px
}

h6 {
	font-size: 14px
}

hr {
	border: .5px solid #444
}

p {
	margin-bottom: 15px;
	color: #6e8292;
	line-height: 1.5
}

ul li {
	margin-bottom: 15px;
	color: #777;
	position: relative
}

a {
	color: #002147;
	transition: all ease-in-out .3s
}

a:hover {
	text-decoration: none;
	color: #0d74ba
}

input[type=text],
input[type=email],
input[type=number],
input[type=tel],
textarea,
select,
.form-control {
	font-size: 14px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	background-color: #fff;
	border: 1px solid #eceaea;
	border-radius: 0;
	padding: 10px 25px;
	width: 96%;
	color: #444;
	height: auto;
	margin-bottom: 0;
	box-shadow: none
}

select {
	padding: 10px 20px
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus,
select:focus {
	border-color: #66afe9;
	transition: all .5s ease
}

textarea {
	resize: vertical;
	height: 200px
}

img {
	width: 100%
}

section {
	padding: 80px 0 0;
	position: relative
}

label {
	font-weight: 500;
	margin-bottom: 5px
}

a.btn-red {
	border: 1px solid #d60d45;
	padding: 9px 24px;
	display: inline-block;
	background: #d60d45;
	color: #fff;
	transition: all ease-in-out .3s;
	cursor: pointer
}

a.btn-red:hover {
	background: #a50a35;
	color: #fff;
	border-color: #d60d45
}

a.btn-white {
	background: 0 0;
	border-color: #fff;
	color: #fff
}

.text-uppercase {
	text-transform: uppercase
}

.white {
	color: #fff!important
}

#loader{
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: white;
	position: absolute;
}
#preloader {
	position: fixed;
    inset: 0px;
    background: rgb(255, 255, 255);
    z-index: 999999;
}

 #status {
	position: fixed;
    content: '';
    display: block;
    top: 28%;
    left: 0;
    right: 0;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url(../images/loader.gif);
    background-size: cover;
    background-position: center;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 9999999999;
} 

section.header-outer {
	background: url(../images/breadcrumb.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	padding: 50px 0 0
}

.section-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .5)
}

.header-outer h2 {
	color: #fff;
	margin: 0;
	font-size: 36px;
	padding: 10px 0 35px;
    text-align: center;
}

.breadcrumb-content {
	position: relative;
	z-index: 1;
	margin: 0 auto
}

.breadcrumb-content:before {
	position: absolute;
	content: '';
	height: 2px;
	background: #fff;
	width: 50px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto
}

.breadcrumb-content ul {
	margin-bottom: 0;
	background-color: #fff;
	padding: 12px 30px;
	box-shadow: 0 0 10px #ccc;
	position: absolute;
	left: 0;
	right: 0;
	width: 40%;
	margin: 0 auto;
	bottom: -23px;
	border-radius: 0;
    display: inline-flex;
}

.breadcrumb-content li {
	margin-bottom: 0
}

.breadcrumb-content li a {
	transition: all ease-in-out .3s;
	color: #666
}

.breadcrumb-content li a:hover {
	color: #ffb606
}

.breadcrumb-content .breadcrumb>.active {
	color: #ffb606
}

.breadcrumb>li+li:before {
	padding: 0 10px 0 5px;
	content: '|'
}

.deal-rating span {
	color: #ffc63f;
	font-size: 16px
}

.detail-info-content {
	margin-bottom: 20px
}

.detail-title {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px
}

.detail-title h3 {
	display: inline-block;
	margin: 0;
	padding-right: 20px;
	border: 1px solid #f1f1f1;
	padding: 8px 16px;
	background: #fbfbfb
}

.detail-title:after {
	position: absolute;
	top: 51%;
	content: '';
	background: #f1f1f1;
	height: 1px;
	width: 100%
}

.detail-box {
    width: 35%;
    left: 33%;
	margin-bottom: 30px;
    padding-left: 1050px;
}

.detail-box:last-child {
	margin: 0
}

.description-content {
	border: 1px solid #f1f1f1;
	padding: 15px
}

.detail table {
	width: 100%;
	margin-top: 10px
}

.detail table td {
	padding: 10px
}

td.title {
	font-weight: 500
}

.detail table tr {
	margin-bottom: 10px;
	border: 1px solid #f1f1f1
}

.detail table tr:last-child {
	margin-bottom: 0
}

.detail table td ul li {
	margin-bottom: 5px;
	width: 49%;
	display: inline-block
}

.detail table td ul li:last-child {
	margin-bottom: 0
}

.detail table td i {
	width: 20px;
	color: #005294
}

.detail table tr:nth-child(even) {
	background: #fbfbfb
}

td.excludes ul li i {
	color: #d60d45
}

.map-frame {
	background: #ffff;
	padding: 15px 15px 10px;
	border: 1px solid #f1f1f1
}

.map-frame iframe {
	height: 350px;
	width: 100%;
	frameborder: 0
}

.comment-item {
	display: flex;
	border: 1px solid #f1f1f1;
	padding: 20px;
	margin-bottom: 30px
}

.comment-image {
	flex: 0 1 75px;
	padding: 0 20px 0 0
}

.detail-content .comment-image {
	padding: 0
}

.comment-item:last-child {
	margin-bottom: 0
}

.comment-image {
	text-align: center
}

.comment-image img {
	overflow: hidden;
	border-radius: 50%;
	width: 75px;
	height: 75px
}

.comment-reply .comment-image img {
	height: 50px;
	width: 50px
}

.comment-image h4 {
	margin: 10px 0 0
}

.comment-desc {
	margin-bottom: 20px
}

.comment-reply .comment-desc {
	margin-bottom: 0
}

.comment-desc h4 {
	display: inline-block
}

.comment-desc p {
	margin: 0
}

span.comment-date {
	display: block;
	font-size: 12px;
	margin-bottom: 7px
}

.comment-image a.btn-blue {
	font-size: 12px;
	padding: 5px 15px
}

.comment-desc .deal-rating {
	display: inline-block;
	margin: 0 0 15px
}

span.travel-date {
	float: right;
	font-size: 12px
}

span.bold {
	font-weight: 500
}

.comment-btn {
	margin-top: 10px
}

.comments-form textarea,
.comments-form input {
	background: #fff
}

.comment-reply {
	background: #fff;
	margin-bottom: 10px;
    border-width: 5px;
}